<web-app>
    <servlet>
        <servlet-name>sessionServlet</servlet-name>
        <servlet-class>it.sevenbits.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>taskServlet</servlet-name>
        <servlet-class>it.sevenbits.tasks.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskServlet</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tasksServlet</servlet-name>
        <servlet-class>it.sevenbits.tasks.TasksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tasksServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
</web-app>